ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

.addons_label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.addons_label:before  {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid #14a3a7;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.addons_label img {
  height: 150px;
  width: 150px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + .addons_label {
  border-color: #14a3a7;
}

:checked + .addons_label:before {
  content: "✓";
  background-color: #14a3a7;
  transform: scale(1);
}

:checked + .addons_label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #14a3a7;
  z-index: -1;
}

#list-addons {
    width: 100%;
    height: 25em;
    line-height: 1em;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}
